@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.anchor {
  @apply absolute invisible -ml-5 cursor-pointer w-5;
}

.anchor:hover {
  @apply visible no-underline;
}

.anchor {
  @apply no-underline;
}

*:hover > .anchor {
  @apply font-bold visible no-underline;
}

.anchor:after {
  @apply text-gray-300 dark:text-gray-600;
  content: "#";
}
